N8N_workflow_template.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the ai agent , you have access to google via serpapi. You will resspond to users query."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -16,
        -32
      ],
      "id": "41a3ab66-e4c8-4823-8641-199ff9f6e350",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "granite3.3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "323e27bd-eb9c-4059-8560-1571d188fc81",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "uMkEVxLtYCejLExV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoke_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        80
      ],
      "id": "3b55ac64-9b4f-470f-850a-ab7bce866ab2",
      "name": "Webhook",
      "webhookId": "f556c3d0-6644-4eb9-912f-ba875a053629"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        336,
        -32
      ],
      "id": "bc91c676-09df-4553-a096-2b2011bc5e38",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -48
      ],
      "id": "1b355c04-48e4-4e5f-b3a5-3469d3c77534",
      "name": "When chat message received",
      "webhookId": "83f87c2a-545b-43cf-9fff-7a94444423aa"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        160
      ],
      "id": "5e3f8346-7438-4390-8e24-7f3d9f179569",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1efb74c6-ba7f-4976-abbb-70699a4d38b8",
              "name": "chatInput",
              "value": "={{ $json.chatInput ||$json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "f4d552ed-8dda-47ad-a0b9-38fd6f5a51d9",
              "name": "sessionId",
              "value": "={{ $json.sessionId || $json.body.sessionId   }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -16
      ],
      "id": "0b386d3c-2ecc-4197-a259-0e48d8fac718",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        224,
        160
      ],
      "id": "12f53bbc-0bd9-4bfb-bf56-b88ca2a220b5",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "OiDEpEQQe25lQIL7",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0671f54-ff3e-458b-8b9e-935be71c355a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc190b06d99a25a25414e17012732c7f60182719b0a13cb4f6eb21b733420f8b"
  },
  "id": "zPw6S5zjhONFexLD",
  "tags": []
}